@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


.container {
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    transition: 0.5s;
}
.container:hover {
    background-color: rgba(0,0,0,0.7);
}
.section {
    display: block;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    color : #fff;
}

.contact-info {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color : #fff;
}